@color_1: white;
@background_color_1: black;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: @background_color_1;
}
.main-container {
	display: flex;
}
.image-container {
	width: 80%;
	height: 100vh;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	gap: 15px;
	>div {
		height: 220px;
	}
	img {
		height: 100%;
		width: 100%;
		object-position: center;
	}
	.child1 {
		grid-column: 1/ span 4;
		grid-row: 1;
	}
	.child2 {
		grid-column: 5/ span 2;
		grid-row: 1;
	}
	.child3 {
		grid-column: 1;
		grid-row: 2;
	}
	.child4 {
		grid-column: 2/ span 4;
		grid-row: 2;
	}
	.child5 {
		grid-column: 6;
		grid-row: 2;
	}
	.child6 {
		grid-column: 1/ span 3;
		grid-row: 3;
	}
	.child7 {
		grid-column: 4/ span 3;
		grid-row: 3;
	}
	.child8 {
		grid-column: 1/ span 2;
		grid-row: 4;
	}
	.child9 {
		grid-column: 3/ span 2;
		grid-row: 4;
	}
	.child10 {
		grid-column: 5/ span 2;
		grid-row: 4;
	}
}
.sidebar {
	width: 20%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding-right: 20px;
	padding-top: 15px;
	gap: 40px;
	.items {
		display: flex;
		flex-direction: column;
		gap: 15px;
		text-align: right;
		a {
			text-decoration: none;
			color: @color_1;
		}
	}
	h3 {
		color: @color_1;
	}
	.social {
		display: flex;
		gap: 20px;
		>div {
			text-align: center;
		}
	}
}
