* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
  }

  .main-container {
    display: flex;
  }

  .image-container {
    width: 80%;
    height: 100vh;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 15px;
  }

  .image-container > div{
    height: 220px;
  }

  .image-container img{
    height: 100%;
    width: 100%;
    object-position: center;
  }

  .image-container .child1 {
    grid-column: 1/ span 4;
    grid-row: 1;
  }

  .image-container .child2 {
    grid-column: 5/ span 2;
    grid-row: 1;
  }

  .image-container .child3{
    grid-column: 1;
    grid-row: 2;
  }

  .image-container .child4{
    grid-column: 2/ span 4;
    grid-row: 2;
  }

  .image-container .child5{
    grid-column: 6;
    grid-row: 2;
  }

  .image-container .child6{
    grid-column: 1/ span 3;
    grid-row: 3;
  }

  .image-container .child7{
    grid-column: 4/ span 3;
    grid-row: 3;
  }

  .image-container .child8{
    grid-column: 1/ span 2 ;
    grid-row: 4;
  }

  .image-container .child9{
    grid-column: 3/ span 2;
    grid-row: 4;
  }

  .image-container .child10{
    grid-column: 5/ span 2;
    grid-row: 4;
  }

  .sidebar {
    width: 20%;
    height: 100vh;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
    padding-top: 15px;
    gap: 40px;
  }

  .sidebar .items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: right;
  }

  .sidebar h3 {
    color: white;
  }

  .sidebar .items a {
    text-decoration: none;
    color: white;
  }

  .sidebar .social{
    display: flex;
    gap: 20px;
  }

  .sidebar .social > div {
    text-align: center;
  }
